:root{
  --clr-Yellow: hsl(47, 88%, 63%);

  --clr-White: hsl(0, 0%, 100%);
  --clr-Grey: hsl(0, 0%, 50%);
  --clr-Black: hsl(0, 0%, 7%);

  --ff-base: "Figtree", sans-serif;

  --fw-regular: 500;
  --fw-bold: 800;
}

body{
  display: grid;
  place-content: center;
  font-family: var(--ff-base);
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  background-color: var(--clr-Yellow);
}

.blog-card{
  display: grid;
  max-width: 384px;
  height: 522px;
  padding: 1.5rem;
  background-color: var(--clr-White);
  border: 1px solid var(--clr-Black);
  border-radius: 1.25rem;
  box-shadow: 10px 10px 0px var(--clr-Black);
}

.blog-image{
  width: 100%;
  border-radius: 0.625rem;
}

.blog-category{  
  background-color: var(--clr-Yellow);
  display: inline-block;
  padding: 4px 12px;
  font-weight: var(--fw-bold);  
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  
}

.blog-publish-date{
  margin-bottom: 0.75rem;  
}

.link{
  text-decoration: none;
  cursor: pointer;
}

.blog-title{
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  color: var(--clr-Black);
}

.blog-title:hover{
  color: var(--clr-Yellow);
}

.blog-description{
  font-size: 1rem;
  font-weight: var(--fw-regular);
  color: var(--clr-Grey);
}

.user-info{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.blog-user-pic{
  width: 32px;
  height: 32px;
}

.blog-author-name{
  font-weight: var(--fw-bold);
}

@media (max-width: 375px) {
  .blog-card{
    width: 343px;
    height: 500px;
  }

  .blog-title{    
    font-size: 1.25rem;
  }

  .blog-publish-date{
    font-size: 0.75rem; 
  }

  .blog-description{
    font-size: 0.875rem;
  }
}